.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.layout-wrapper-l {
  width: 160px;
  height: 90px;
  margin-bottom: 20px;
  position: relative;
}

.layout-wrapper-p {
  width: 90px;
  height: 180px;
  margin-bottom: 20px;
  position: relative;
}

.edit-zone {
  width: calc(100% - 200px);
}
